#archives {
    margin: 4rem;
    
}
.cards h3, h4, .pa{
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.cards {
    font-weight: normal;
    padding: 1rem 2rem;  
    color: #ffffff;
    background: #282a36;
    border-radius: 0.5rem;
    margin: 1rem;
    opacity: 0.8;
}

.cards textarea {
    border-radius: 0.5rem;
    width: 50%;
}

.cards img {
  
    width: 60%;
}

.cards:hover{
    opacity: 1;
    transform: scale(1.01);
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: #ff79c6;
}
